<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head.ejs") %>

	<body>
		<div class="loading-page">
			<h2>Click Here</h2>
			<img src="https://media.giphy.com/media/Z0qrajAVaSJcK87b9X/giphy.gif" alt="Loading Sneaker">
            <a href="/sneakers/index"><button>View Collection</button></a>
		</div>

	</body>
</html>