<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="login-page">
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form class="login" action="/user/login" method="post">
          <fieldset id="fieldset">
            <legend class="usertitle">User Login</legend>
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input class="login-btn" type="submit" value="Login" />
          </fieldset>
        </form>
        <a href="/user/signup"><button id="sign-btn">Not a User? Click Here to Signup</button></a>
      </div>
    </main>
  </body>
</html>